<ion-header>
  <ion-toolbar class="toolbar">
  	<ion-buttons slot="start">
      <ion-button>
      	 <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

<div  class="card">
  <div class="header">
    <div class="avatar">
      <img class="img" (click)="showImage()" [src]="proImage"/>
      <div class="changeImage" (click)="SelectImage()"><ion-icon name="image"></ion-icon></div>
    </div>
    
  </div>
</div>
<div class="card-body ion-padding">
  <div class="user-meta ion-text-center">
    <h5 class="Username">@{{userdata.username}}</h5>
    <h3 class="fullname">{{userdata.fname}} {{userdata.lname}}</h3>
    <h6 >Businesses:</h6>
    <ion-button style="width: 100px" [routerDirection]="root" [routerLink]="['/my-businesses']" >{{numBusinesses}}</ion-button>
  </div>

 
</div>

</ion-content>
