<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-button>
      	 <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

<div class="card">
  <div class="header">
    <div class="avatar">
      <img src="././assets/player104.png" alt="">
    </div>
    <ion-button (click)="image()">Change Image</ion-button>
  </div>
</div>

<div class="card-body">
  <div class="user-meta ion-text-center">
    <h3 class="Username">Bilal Alezzi</h3>
    <h5 class="country">Beirut</h5>
    <h6 >Businesses:
    </h6>
    <ion-button>2</ion-button>
  </div>
  {{image}}
</div>

</ion-content>
