<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-buttons slot="start">
            <ion-button>
                <ion-menu-button>
                </ion-menu-button>
            </ion-button>
        </ion-buttons>
        <ion-title>
            my-businessdetails
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
   
    <div *ngIf="!edit" id="readonly">
        <ion-item>
         <!-- <ion-card class="welcome-card"> -->
            <!-- <ion-card-header> -->
                Category: {{catEn}} / {{catAr}}
            <!-- </ion-card-header> -->
        <!-- </ion-card> -->
    </ion-item>
        <ion-slides class="slides" *ngIf="imagesEnable">
            <ion-slide *ngFor="let image of images">
                <img [src]="image.imagePath" alt=""/>
            </ion-slide>
        </ion-slides>
        <!-- <ion-row>
            <ion-col> -->
                <!-- <ion-card class="welcome-card"> -->
                    <!-- <ion-card-header> -->
                        <!-- <ion-card-title> -->
                            <ion-item>
                            {{name}}
                        <!-- </ion-card-title> -->
                        <!-- <ion-card-subtitle> -->
                        </ion-item>
                            <ion-item>
                            Mobile: {{phoneNumber}}
                        <!-- </ion-card-subtitle> -->
                        <!-- <ion-card-subtitle> -->
                            </ion-item>
                            <ion-item>
                            View(S): {{views}}
                        <!-- </ion-card-subtitle> -->
                    <!-- </ion-card-header> -->
                <!-- </ion-card> -->
                <!-- </ion-item>
            </ion-col>
            <ion-col> -->
                <!-- <ion-card class="welcome-card"> -->
                    <!-- <ion-card-content> -->
                        <ion-item>
                            Description:
                        </ion-item>
                        <ion-item>
                            <!-- <ion-card-subtitle> -->
                                {{desc}}
                            <!-- </ion-card-subtitle> -->
                        </ion-item>
                    <!-- </ion-card-content> -->
                <!-- </ion-card> -->
            <!-- </ion-col> -->
        <!-- </ion-row> -->
        
        <ion-button (click)="editBusiness()">
            Edit
        </ion-button>
    </div>
    <div *ngIf="edit" id="edit">
        <form (ngSubmit)="applyEditBusiness()">
            <!-- <ion-card class="welcome-card"> -->
                <!-- <ion-card-header> -->
                    <ion-item>
                        Category:
                        <ion-select [(ngModel)]="details.catId" name="category" placeholder="Select One">
                            <ion-select-option *ngFor="let cat of categories" value="{{cat.catId}}">
                                {{cat.catNameEn}} / {{cat.catNameAr}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                <!-- </ion-card-header> -->
            <!-- </ion-card> -->
            
            <div class="slides">
                <ion-button (click)="addImages()" class="addImages" color="success" size="small">
                    +
                </ion-button>
                <ion-slides class="slides" *ngIf="imagesEnable">
                    <ion-slide *ngFor="let image of images">
                        <img [src]="image.imagePath" alt=""/>
                        <ion-fab (click)="deleteImage(image.imageId)" horizontal="end" slot="fixed" vertical="top">
                            <ion-fab-button>
                                X
                            </ion-fab-button>
                        </ion-fab>
                    </ion-slide>
                </ion-slides>
            </div>
            <!-- <ion-row> -->
                <!-- <ion-col> -->
                    <!-- <ion-card class="welcome-card"> -->
                        <!-- <ion-card-header> -->
                            <!-- <ion-card-title> -->
                                <ion-item>
                                    <ion-label position="stacked">
                                        Business Name
                                        <ion-text color="danger">
                                            *
                                        </ion-text>
                                    </ion-label>
                                    <ion-input [(ngModel)]="details.businessName" name="businessName">
                                    </ion-input>
                                </ion-item>
                            <!-- </ion-card-title> -->
                            <!-- <ion-card-title> -->
                                <ion-item>
                                    <ion-label position="stacked">
                                        Phone Number
                                        <ion-text color="danger">
                                            *
                                        </ion-text>
                                    </ion-label>
                                    <ion-input [(ngModel)]="details.businessPhoneNumber" name="businessPhoneNumber">
                                    </ion-input>
                                </ion-item>
                            <!-- </ion-card-title> -->
                            <!-- <ion-card-subtitle> -->
                                <ion-item>
                                View(S): {{views}}
                            </ion-item>
                            <!-- </ion-card-subtitle> -->
                        <!-- </ion-card-header> -->
                    <!-- </ion-card> -->
                <!-- </ion-col> -->
                <!-- <ion-col> -->
                    <!-- <ion-card class="welcome-card"> -->
                        <!-- <ion-card-content> -->
                            <!-- <p> -->
                                <!-- <ion-card-title> -->
                                    <ion-item>
                                        <ion-label position="stacked">
                                            Description
                                            <ion-text color="danger">
                                                *
                                            </ion-text>
                                        </ion-label>
                                        <ion-input [(ngModel)]="details.businessDesc" name="businessDesc" type="text">
                                        </ion-input>
                                    </ion-item>
                                <!-- </ion-card-title> -->
                            <!-- </p> -->
                        <!-- </ion-card-content> -->
                    <!-- </ion-card> -->
                <!-- </ion-col> -->
            <!-- </ion-row> -->
           
            <ion-button type="submit">
                Update
            </ion-button>
            <ion-button (click)="cancelEditBusiness()">
                Cancel
            </ion-button>
        </form>
    </div>

</ion-content>