.card {
    margin: 0 auto;

  

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            .img {
                display: block;
                border-radius: 50%;
                position: absolute;
                top: 0;
                border: 1px solid #3880ff;
                background-color: #fff;


            }
        
    }
}

 .Username {
            font-size: 16px;
            font-weight: 600;
            color: #303940;
            font-style: italic;
            text-align: center;
            margin-top: 10px;
        }
        .separate{
                width: 90%;
    border-bottom: 1px solid #dedede;
    margin: 10px auto -5px auto;
        }