<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    	 <ion-button>
         <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>businessdetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-card-header>

   Category: {{catEn}} / {{catAr}}
 </ion-card-header>
 </ion-card>
 <ion-slides class="slides">
        <ion-slide *ngFor="let image of images">
         <img [src]="image.imagePath" alt=""/>
        </ion-slide>
      </ion-slides>

  <ion-row>
   <ion-col>

    
<ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> {{name}}</ion-card-title>
      <!-- <ion-card-subtitle>ID:{{_get}}</ion-card-subtitle> -->
      <ion-card-subtitle>Mobile: {{phoneNumber}}</ion-card-subtitle>
      <ion-card-subtitle>View(S): {{views}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-col>
<ion-col>
<ion-card class="welcome-card">
    <ion-card-content>
     <p>
       Description:
      </p>
      <p>
       <ion-card-subtitle>{{desc}}</ion-card-subtitle>
      </p>
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
<ion-tabs>
  <div id="map"></div>
  <ion-tab-bar>
    <ion-tab-button (click)="call()">
      <ion-icon name="call"></ion-icon>
      <ion-label>Call</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="sms()">
      <ion-icon name="mail"></ion-icon>
      <ion-label>SMS</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>
</ion-content>
