<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    	 <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>businessdetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>business ID:{{_get}}</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content><!-- 
     <ion-button color="primary" (click)="test()">Primary</ion-button> --><!-- 
     <ion-button expand="block" routerLink="/login" routerDirection="root">Login</ion-button> -->
     <!-- <p>{{data}}</p> -->
      <p>
        Now that your app has been created, you'll want to start building out features
        and components. Check out some of the resources below for next steps.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
