ion-menu-button {
  // color: var(--ion-color-primary);
  color:#293d95;
}
ion-header{
    border-bottom: 1px solid #293d95 !important;
}
#container {
  text-align: center;
  margin-top:20px;
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 35%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.header-logo{
  width: 80px;
  position: fixed;
    right: 50%;
    top: calc(-1*(20px));
}

ion-fab-button{
  --background: var(--ion-ineed-background);
}

