<ion-header>
  <ion-toolbar  class="toolbar">
    <ion-buttons slot="start">
      <ion-button>
      	 <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>iNeedApp</ion-title>
    <!-- <ion-button  class="logbutton" (click)="logout()"><ion-icon slot="icon-only" name="log-out"></ion-icon></ion-button> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  

  <div id="container">
<ion-searchbar showCancelButton="never"
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"
    class="searchbar"
  ></ion-searchbar>

<ion-list>
  <ion-item *ngFor="let cat of cats" lines="full" (click)="gotoBusinessesPage([cat.id])">
          <ion-avatar slot="start">
            <img src="././assets/icon/favicon.png">
          </ion-avatar>
          <ion-label>
            <h2> {{cat.id}} {{cat.name}} <span class="arrow">></span></h2>

          </ion-label>
        </ion-item>
</ion-list>

<!-- <ion-grid>
  <ion-row>
    <ion-col *ngFor="let cat of cats">
      <div (click)="gotoBusinessesPage([cat.id])">
        <ion-card>
          <ion-card-header>
           <img src="././assets/icon/favicon.png"/>
             <ion-card-subtitle> {{cat.id}} {{cat.name}} </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-grid> -->
</div>
</ion-content>
