<ion-header>
  <ion-toolbar  class="toolbar">
    <ion-buttons slot="start">
      <ion-button>
      	 <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>iNeedApp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  

  <div id="container">
<ion-searchbar showCancelButton="never"
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"
    class="searchbar"
  ></ion-searchbar>


<ion-list class="ion-padding">

  <ion-item *ngFor="let cat of categories" lines="full" (click)="gotoBusinessesPage([cat.catId])">
          <ion-avatar slot="start">
            <img src="././assets/icon/favicon.png">
          </ion-avatar>
          <ion-label>
            <h2> {{cat.catNameEn}} - {{cat.catNameAr}}<span class="arrow">></span></h2>
          </ion-label>
        </ion-item>
</ion-list>
</div>
</ion-content>
